<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- <div  th:replace="fragments/header :: header"></div> -->
<h2>Books</h2>
<a href="/books/add">Add Book</a>
<table border="1">
    <tr><th>Title</th><th>Author</th><th>Available</th><th>Action</th></tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.availableQuantity}"></td>
        <td><a th:href="@{'/books/delete/' + ${book.id}}">Delete</a></td>
    </tr>
</table>
<!-- <div th:replace="fragments/footer :: footer"></div> -->
</body>
</html>