<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>

<div th:replace="~{fragments/navbar :: navbar}"></div>

<div class="center-container">
    <h1>📚 Welcome to the Library System</h1>
    <div class="btn-group">
        <a href="/books" class="btn btn-primary">Manage Books</a>
        <a href="/students" class="btn btn-success">Manage Students</a>
        <a href="/history/list" class="btn btn-warning">View Borrowed</a>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>